on: push
jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag:
        - "algolia"
        - "instantsearch"
        - "lannonbr"
    steps:
      - run: echo "${{ matrix.tag }}"
